* {
    margin:0;
    font-family: 'Ubuntu', sans-serif;

 
}

header{
    height: 5rem;
    background-color: rgb(209, 209, 223);
    text-align: center;
    align-items: center;
}

#addBook {
  width: 10rem;
  padding: 1rem;
  background-color: white;
  border:none;
  font-size:1.5rem;
  border-radius: 1rem;
  transition: background-image 0.5s ease-in-out 0.1s;
  
}
.buttonBox{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
#addBook:hover{
    background-image:linear-gradient(to right,#aa9bcc, #7d60bf);
    cursor: pointer;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.5rem;
}
.modalCont{
    display: none;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border: 2px solid black;
    padding: 2rem;
    border-radius: 1rem;
}
#closeBtn{
   float: right;
   color: rgba(0,0,0,0.7);
   
   cursor: pointer;
}

.displayBody {
    display:grid;
    grid-template-columns: repeat(4, 1fr);

}
#closeBtn:hover {

}
