* {
    margin:0;
    font-family: 'Ubuntu', sans-serif;

 
}

header{
    height: 5rem;
    background-color: rgb(209, 209, 223);
    text-align: center;
}

form{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding:1rem;
}

table {
    width:100%;
    padding: 1rem 3rem;

}
.tableRows{
    text-align: center;
}

.delete{
    background-color: #f51313;
    border-radius: 0.5rem;
    padding:0.3rem;
    color:white;
}
.delete:hover{
    cursor: pointer;
}
tbody > tr:nth-child(odd){
    background-color: #d3d3d3;
}

